@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
    background-color: $lightPrimary;
    position: fixed;
    top: 4rem;
    right: 2rem;
    z-index: 12;

    @include device(notebook) {
        flex-direction: row;
        background-color: transparent;
        position: static;
        margin-bottom: 2rem;
    }

    .icon {
        width: 2.2rem;
        height: 2.2rem;
    }

    .linkedin {
        color: $background;

        &:hover {
            cursor: pointer;
            color: $colorText;
        }
    }

    .instagram {
        color: $background;

        &:hover {
            cursor: pointer;
            color: $colorText;
        }
    }

    .whatsapp {
        color: $background;

        &:hover {
            cursor: pointer;
            color: $colorText;
        }
    }
}