$background: #27232c;
$primary: #014f86;
$lightPrimary: #2a6f97;
$darkPrimary: #848be6;
$colorText: #848DA0;
$error: #ff5353;
$white: #ffffff;
$gray: #808080;
$black: #000000;

$fontFamily: 'Roboto', sans-serif;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;